
.App {
  text-align: center;
}


/* Login */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}



*{
  font-family: 'Baloo Bhai';
  font-size: 18px;
}

html{
  background-color: #FEFCF3;
}

/* Navbar */

.nav{
  background-color: #E07272;
  width: 100% !important;
}

/* All */

.bg-color{
  background-color: #FEFCF3 !important;
}

.box-com{
  background-color: #F5EBE0 !important;
}

.lable{
  margin-top: -160px;
  margin-left: 20px;
  background-color: #DBA39A;
  width: 200px;
  padding-top: 26px;
  padding-bottom: 13px;
  display: flex ;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

input{
  background-color: #FEFDF5 !important;
}

.lable-col{
  background-color: #DBA39A !important;
}

.but{
  background-color: transparent !important;
  border-color: #FEFCF3 !important;
  color: white !important;
}

.but:hover{
  background-color: #FF9F9F !important;
  border-color: #FEFCF3 !important;
  color: white !important;
}

.but-i{
  background-color: #F3E2E2 !important;
  border-color: #FEFCF3 !important;
  color: #AF827B !important;
}


.but-i:hover{
  background-color: #FF9F9F !important;
  border-color: #FEFCF3 !important;
  color: white !important;
}

.but-2{
  background-color: #FF9F9F !important;
  border-color: #BA5F5F !important;
  color: white !important;
}

.but-2:hover{
  background-color: #F3E2E2 !important;
  border-color: #BA5F5F !important;
  color: #AF827B !important;
}

/* Search */

.search-bundle-title {
  background-color: #DBA39A;
  color: white;
  border-radius: 25px;
}

.search-body {
  background-color: #F5EBE0;
  border-radius: 40px;
}

/* Bundle Card Body */

.bundle-card-body {
  width: 12rem;
}
