.App {
  text-align: center;
}


/* Login */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* Navbar */

.nav{
  background-color: #E07272;
  width: 100% !important;
}

html{
  background-color: #FEFCF3;
}

*{
  font-family: 'Baloo Bhai';
  font-size: 18px;
}
.but-2:hover{
  background-color: #E5E3DB !important;
  border-color: #BA5F5F !important;
  color: #AF827B !important;
}
*{
  font-family: 'Baloo Bhai';
  font-size: 18px;
}
/* Search */

.search-bundle-title {
  background-color: #DBA39A;
  color: white;
  border-radius: 25px;
}

.search-body {
  background-color: #F5EBE0;
  border-radius: 40px;
  height: 70vh;
}